name: Validate JSONs

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  validate-json:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: jsonvalidate

      - name: Validate packages.json
        run: |
          jsonvalidate::json_validate(
            "packages.json",
            "schema.json",
            engine = "ajv",
            error = TRUE
          )
        shell: Rscript {0}

